.page {
  background-color: #000000;
  min-width: 320px;
  max-width: 1280px;
  color: white;
  padding: 45px 200px 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 800px) {
  .page {
    padding: 28px 19px 36px;
    margin: 0;
  }
}
