.profile__info-name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  

}

@media screen and (max-width: 1110px) {
  .profile__info-name {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    grid-column-start: 2;
    grid-column-end: 3;
   
 
  }
}